.div-home {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1120px;
    align-self: center;
}

.section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
    position: relative;
}

.section1 .div-left {
    display: flex;
    margin-right: 1.25rem;
    margin-bottom: 0;
    flex-direction: column;
    width: 100%;
}

.section1 .div-left h1 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    margin: 0;
    text-align: left;
}

.section1 .div-left p {
    margin: 0;
    margin-top: 1.5rem;
}

.section1 .div-right {
    width: 83.333%;
    margin-bottom: 1.5rem;
}

.section1 .div-right img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


.get-started {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    position: relative;
}

.section2 h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.5rem;
}

.section2 p {
    width: 66.66667%;
    margin: 0 auto 2.5rem auto;
}

.action-cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5rem;
}

.action-cards img {
    margin-top: 0.75rem;
    width: 160px;
    max-width: 100%;
    height: auto;
}

.action-cards h3 {
    color: rgb(0 121 138/1);
    margin-top: 0.5rem;
}

.action-cards p {
    color: rgb(33 33 33/1);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 66.66667%;
    margin: 0 auto 2.5rem auto;
}

.card {
    width: calc(33.33% - 3rem);
    padding: 0 1.5rem;
    height: 100%;
}

.section4 button {
    cursor: pointer;
    font-size: 18pt;
    color: #fff;
    fill: #fff;
    border: 2px solid black;
    box-shadow: 2px 2px 1px black;
    padding: 8px 16px;
    background-color: #00798a;

}

.section4 button:hover {
    color: #fff;
    background-color: #008fa3;
    border-color: #008fa3;
}
