/* TODO Add site wide styles */


body {
    font-family: Graphik Meetup,
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
    font-size: 16px;
}

.app-routes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corner-logo {
    width: 94.34px;
    height: 34px;
    position: absolute;
    left: 40px;
}

button {
    font-size: normal;
    text-align: center;

}

button:hover {
    cursor: pointer;
}
