.div-signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    width: 400px;
}

.signup-form {
    width: 325px;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #aaa;
    background-color: #fff;
    border-color: #aaa;
    border-radius: 8px;
    padding: 10px 0;
    font-size: 1rem;

}


.button-container button--enabled {
    background-color: #FF5A5F;
    border-color: #FF5A5F;
    color: #fff;
    cursor: pointer;
}

.button-container button--disabled {
    background-color: #fff;
    color: #aaa;
    border: 1px solid #aaa;
    cursor: not-allowed;
}
