div {
    margin-bottom: 2.5rem;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 70px;
    list-style: none;
    border-bottom: 2px solid #CCCCCC;
    padding-left: 20px;
    padding-right: 20px;
}

.prof-butt {
    display:inline-block;
    vertical-align: middle;
}

.fa-user {
    position: relative;
    width: 20px;
    height: 20px;
    top: 3px;
}

.nav-bar-links {
    font-weight: normal;
    padding-right: 20px;
}

p {
    text-decoration: none;
}

.nav-bar-links p:hover {
    cursor: pointer;
}


.profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    transform: translate(0px, 48px);
    inset: 0px 0px auto auto;
    text-align: left;
    right: 28px;
    top: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    background-color: white;

}

.hidden {
    display: none;
}

.prof-list-buttons {
    display: flex;
    justify-content: center;
}

.profile-list button{
    background-color: #999999;
    border: 2px solid black;
    box-shadow: 3px 3px 1px black;
    color: white;
    margin: 4px;
}

.profile-list button:hover {
    background-color: #FF5A5F;
    cursor: pointer;
}

li {
    margin: 0px 10px;
}

.error {
    margin: 0;
}
