div {
    margin-bottom: 2.5rem;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    min-height: 64px;
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navigation div {
    font-size: normal;
    font-weight: bold;
    width: 60px;
    margin: 5px;
    padding: 5px;
}

.hidden {
    display: none;
}

.navlink {
    color: black;
}

.navlink:hover {
    color: teal;
}
